.services {
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1675404802/Mirco%20Foods/Untitled_design_3_gna1o4.jpg);
    padding: 10rem 8rem;
}

@media screen and (max-width: 1080px) {
    .services {
        padding: 7rem 2rem;
    }
}
