.hero {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding:8rem 5rem 3rem 5rem;
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1675379359/Mirco%20Foods/Untitled_design_2_m0u7zq.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.hero_text_wrapper {
    padding: 0rem  8rem 0rem 0rem;
}

.hero_text_wrapper h6 {
    font-weight: 200;
    font-size: 1rem;
}

.hero_text_wrapper h1 {
    font-weight: 800;
    font-size: 3rem;
}

.hero_img_wrapper {
    display: flex;
}

.hero_img_set_one {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.hero_img_set_one .hero_img_1 {
    height: 20rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 15% 0% 0% 0% !important;
}

.hero_img_set_one .hero_img_2 {
    height: 15rem;
    width: 25rem;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 0% 0% 0% 15% !important;
}

.hero_img_set_two {
    display: flex;
    flex-direction: column;
}

.hero_img_set_two .hero_img_1 {
    height: 15rem;
    width: 25rem;
    object-fit: cover;
    margin-top: 2rem;
    border-radius: 0% 15% 0% 0% !important;
}

.hero_img_set_two .hero_img_2 {
    height: 20rem;
    width: 25rem;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 0% 0% 15% 0% !important;
}

.section_title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.section_title i {
    font-size: 5rem;
    color: #02662f;
    transition: all .3s;
}

.section_title i:hover {
    font-size: 5.5rem;
    color: #02662f;
}

.section_title .section_title_200 {
    font-weight: 200;
}

.section_title .section_title_800 {
    font-weight: 800;
    margin-left: 0.5rem;
}

.home_products {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 3rem 8rem;
}

.home_products_wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.major_products_wrapper {
    margin: 1rem 0rem;
}

.home_services {
    padding: 3rem 8rem;
}

.home_services_content {
    display: flex;
    justify-content: space-between;
}

.service_wrapper {
    padding: 0rem 1rem 0rem 0rem;
    width: 20rem;
    color: white;
}

.service_wrapper i {
    font-size: 3rem;
}

.home_capacity_building {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 8rem;
}

.capacity_building_img img {
    height: 30rem;
}

.capacity_building_text h6 {
    font-weight: 200;
}

.capacity_building_text h1 {
    font-weight: 800;
}

.capacity_building_text span {
    font-weight: 400;
}

.home_membership {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding: 3rem 8rem;
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1675379359/Mirco%20Foods/Untitled_design_2_m0u7zq.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.membership_title h6 {
    font-weight: 200;
}

.membership_title h1 {
    font-weight: 800;
}

.membership_title span {
    font-weight: 400;
}

.membership_logos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem 0rem 0rem 2rem;
}

.membership_logos img{
    width: 9rem;
    padding: 2rem 2rem 0rem 0rem;
}

@media (max-width: 40.625rem) {
    .hero {
        flex-wrap: wrap;
        padding:5rem 1rem 3rem 2rem;
    }

    .hero_img_wrapper {
        margin-top: 3rem;
    }

    .hero_img_set_one .hero_img_1 {
        height: 15rem;
        width: 11rem;
    }

    .hero_img_set_one .hero_img_2 {
        height: 8rem;
        width: 11rem;
    }

    .hero_img_set_two .hero_img_1 {
        height: 8rem;
        width: 11rem;
    }
    
    .hero_img_set_two .hero_img_2 {
        height: 15rem;
        width: 11rem;
    }

    .home_services_content {
        flex-wrap: wrap;
    }

    .capacity_building_img img {
        height: 15rem;
    }
    .membership_logos {
        padding: 0rem 0rem 0rem 0rem;
    }

    .membership_logos img{
        width: 5rem;
    }

    .hero_text_wrapper h1 {
        font-size: 2.5rem;
    }

    .section_title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1080px) {
    .hero {
        /* flex-wrap: wrap; */
        padding:5rem 1.5rem 3rem 1.5rem;
    }
    .hero_text_wrapper {
        padding: 0rem 1rem 0rem 0rem;
    }

    .hero_img_wrapper {
        margin-top: 3rem;
    }

    .hero_img_set_one .hero_img_1 {
        height: 15rem;
        width: 11rem;
    }

    .hero_img_set_one .hero_img_2 {
        height: 8rem;
        width: 11rem;
    }

    .hero_img_set_two .hero_img_1 {
        height: 8rem;
        width: 11rem;
    }
    
    .hero_img_set_two .hero_img_2 {
        height: 15rem;
        width: 11rem;
    }

    .home_products {
        padding: 3rem 2rem;
    }

    .home_services {
        padding: 3rem 2rem;
    }

    .home_capacity_building {
        flex-wrap: wrap;
        padding: 3rem 2rem;
    }

    .home_membership {
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        padding: 3rem 2rem;
        background: url(https://res.cloudinary.com/emacon-production/image/upload/v1675379359/Mirco%20Foods/Untitled_design_2_m0u7zq.jpg);
        background-repeat: none;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 490px) {
    .hero_img_set_one .hero_img_1 {
        height: 15rem;
        width: 9.3rem;
    }

    .hero_img_set_one .hero_img_2 {
        height: 8rem;
        width: 9.3rem;
    }

    .hero_img_set_two .hero_img_1 {
        height: 8rem;
        width: 9.3rem;
    }
    
    .hero_img_set_two .hero_img_2 {
        height: 15rem;
        width: 9.3rem;
    }
}