.impact_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9rem;
}

@media screen and (max-width: 1080px) {
    .impact_wrapper img {
        height: 35rem;
    }
}

@media (max-width: 40.625rem) {
    .impact_wrapper img {
        height: 18rem;
    }
}