.contact_wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 10rem 1rem 1rem 1rem;
}

.form_wrapper h1 {
    font-size: 2rem;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 2em 0 1em 0;
    width: 100%;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #02662f;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }

  .inputGroup textarea {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #02662f;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #02662f;
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #fff;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: #02662f;
  }

  .inputGroup :is(textarea:focus, textarea:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #fff;
  }
  
  .inputGroup :is(textarea:focus, textarea:valid) {
    border-color: #02662f;
  }

  .details_logo {
    display: flex;
    justify-content: center;
  }

  .details_logo img {
    width: 25rem;
  }

  .details_data {
    font-weight: 400;
  }

  .details_data span {
    font-weight: 800;
  }

  .details_data a{
    text-decoration: none;
    color: black;
    transition: all .3s;
  }

  .details_data a:hover{
    color: #02662f;
  }

  @media (max-width: 40.625rem) {
    .inputGroup {
      width: 90%;
    }

    .details_data {
      padding: 0rem 1rem;
    }
  }